@import url('https://fonts.googleapis.com/css2?family=Abel&family=Frijole&family=Kaushan+Script&family=Paytone+One&family=Red+Rose:wght@300..700&family=Rhodium+Libre&family=Righteous&display=swap');


* {
     margin: 0;
     padding: 0;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #B09464;
}

.logo-text{
    position: relative;
    top: 10px;
    left: 24px;
    font-family: 'Paytone One';
    color: white;
    font-weight: 50;
}

.logo-text span{
    color: #ffeb9a;
}

.nav {
    position: absolute;
    top: 25px;
    left: 500px;
}

.nav a {
    font-size: larger;
    font-weight: 400;
    margin-right: 24px;
    text-decoration: none;
    font-family: sans-serif;
    padding: 24px 8px;

}

.nav-home{
    background-color: #ffe999;
    color: black;
}

.nav-about{
     /* background-color: #ffe999; */
     color: white;
}

.nav-team{
    /* background-color: #ffe999; */
     color: white
}

.nav-blog{
    /* background-color: #ffe999; */
     color: white
}

.nav-contact {
    /* background-color: #ffe999; */
     color: white
}

.hero-container{
    position: relative;
    width: 100%;
    height: 600%;
    background-color: #f5e4d1;
}

.hero-container img{
    position: relative;
    top: 80px;
    left: 250px;
    width: 750px;
}

.hero-circle1{
    position: absolute;
    top: 50%;
    left: 65%;
    width: 900px;
    height: 600px;
    border-radius: 50%;
    background-color: #edd0b5;
    opacity: 0.6;
}

.hero-circle2{
    position: absolute;
    top: 50%;
    left: 65%;
    width: 900px;
    height: 600px;
    border-radius: 50%;
    background-color: #edd0b5;
    opacity: 0.6;

}
